<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mynfcapp">

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge">
        <activity android:name=".Test"></activity>
        <activity
            android:name=".Dashboard.Dashboard"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge" />
        <activity
            android:name=".AccountCreation.ForgetPasswordSuccessMessage"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge" />
        <activity
            android:name=".AccountCreation.SetNewPassword"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge" />
        <activity android:name=".AccountCreation.MakeSelection" />
        <activity
            android:name=".AccountCreation.ForgotPassword"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge" />
        <activity
            android:name=".AccountCreation.VerifyOTP"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge" />
        <activity android:name=".AccountCreation.SignUp3rdClass" />
        <activity android:name=".AccountCreation.SignUp2ndClass" />
        <activity android:name=".AccountCreation.StartUpScreenActivity" />
        <activity
            android:name=".AccountCreation.SignUpActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge" />
        <activity
            android:name=".AccountCreation.LoginActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge" />
        <activity
            android:name=".ReaderActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>